.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: inherit;
    margin-top: 4.6875rem;
    @media (max-width: 768px) {
        padding: 0 1rem;
    }
    .auth-page-container {
        width: 50%;
        padding: 2rem;
        background-color: $grayishBlue;
        border-radius: 1.25rem;
        @media (max-width: 768px) {
            width: 100%;
        }
        .auth-page__header {
            display: flex;
            align-items: center;
            margin-bottom: 1.25rem;
            h1 {
                font-size: 1.125rem;
                color: $gray;
                margin-left: 0.625rem;
            }
        }
        .auth-page__register {
            margin-top: 0.625rem;
            a {
                color: $purple;
                font-weight: 600;
            }
        }
    }
}
