header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 5%;
    background-color: $blackishWhite;
    border-bottom: 1px solid $whiteishBlack;
    position: sticky;
    top: 0;
    z-index: 100;

    .searchbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $grayishBlue;
        border-radius: 40px;
        @media (max-width: 768px) {
            display: none;
        }
        svg {
            font-size: 26px;
            color: $gray;
            margin-left: 10px;
        }

        input {
            font-size: 1rem;
            color: $gray;
            padding: 10px 15px;
            border: none;
            outline: none;
            border-radius: 0 40px 40px 0;
            background-color: transparent;
        }
    }

    .auth-button-container {
        display: flex;
        align-items: center;
        gap: 0.9375rem;
    }
    .auth-user-info {
        display: flex;
        align-items: center;
        span {
            margin-left: 0.3125rem;
            @media (max-width: 768px) {
                display: none;
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.75rem;
            color: red;
            text-align: center;
            margin-left: 1rem;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}
