article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 75vw;
    padding: 1.1875rem 10%;
    .thread-input {
        padding: 1rem;
        width: 100%;
        margin-bottom: 0.625rem;
        border-radius: 0.9375rem;
        background-color: $grayishBlue;
        h1 {
            color: $gray;
            margin: 0 0 0.625rem;
        }
    }

    .thread {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-item {
            display: flex;
            flex-basis: 0;
            flex-grow: 1;
            margin: 1px 0;
            color: $white;
            border: 1px solid $whiteishBlack;
            border-radius: 15px;
            background-color: $grayishBlue;
            width: 100%;
            &:hover {
                background-color: $grayishBlueHover;
            }

            &-vote {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: 1px solid $whiteishBlack;
                padding: 1.25rem 1.125rem;

                &__buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 30px;
                        color: $white;
                        width: 35px;
                        height: 35px;
                        border: none;
                        outline: none;
                        border-radius: 50%;
                        background-color: transparent;
                        cursor: pointer;
                        position: relative;
                        &:hover {
                            background-color: $purple;
                            transition: 100ms ease-in-out;
                        }
                    }
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1.25rem 1.125rem 0.625rem;

                &__header {
                    h3 {
                        font-size: 22px;
                    }
                    span {
                        color: $gray;
                        font-size: 14px;

                        strong {
                            color: $purple;
                        }
                    }
                }

                &__body {
                    font-size: 0.9375rem;
                }
                &__footer {
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
