$background: #000000;
$blackishWhite: rgba(0, 0, 0, 0.85);
$purple: #7856e1;
$white: #ffffff;
$whiteishBlack: rgba(255, 255, 255, 0.2);
$gray: #71767b;
$grayishBlue: #16181c;
$grayishBlueHover: rgba(22, 24, 28, 0.95);

@import "header";
@import "sidebar";
@import "maincontent";
@import "authpage";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: $background;
    color: $white;
}

.app-container {
    position: relative;
}

main {
    display: flex;
    background-image: url("../images/veerybirds.png");
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 59px);
}

a {
    text-decoration: none;
}

.avatar {
    width: 35px;
    border-radius: 50%;
}

.auth-input,
.thread-input {
    display: flex;
    flex-direction: column;
    button,
    input,
    textarea {
        font-size: 1.125rem;
        color: $white;
        border: none;
        outline: none;
        border-radius: 0.625rem;
    }
    input,
    textarea {
        font-weight: 500;
        padding: 0.625rem;
        margin: 0 0 0.625rem;
        background-color: $blackishWhite;
    }
    textarea {
        min-height: 100px;
        font-family: "Open Sans", sans-serif;
    }
    button {
        font-weight: 600;
        padding: 0.625rem;
        background-color: $purple;
        cursor: pointer;
    }
}
